{% extends "website/base.html" %}
{% load static %}
{% load humanize %}
{% block title %} Shop - Amazing Interiors {% endblock %}


{% block content %}
{% include "website/components/header.html" %}
<section class="bg-light">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 text-center col-12">
                <h1 class="fw-bold">Favorites</h1>
                <p>Home / Favorites</p>
            </div>
        </div>
    </div>
</section>


<section class="py-5">

</section>





<section>
    {% include 'website/components/features.html' %}
</section>
{% include "website/components/footer.html" %}
{% endblock %}