{% extends "website/base.html" %}
{% load static %}
{% load humanize %}
{% block title %} Amazing Interiors - Transforming Spaces, Elevating Lifestyles {% endblock %}


{% block content %}
    {% include "website/components/header.html" %}
    <section class="hero">
        <div class="container pb-3">
            <div class="row">
                <div class="col-lg-6 col-12 text-area">
                    <div class="bg-yellow rounded-pill py-1 px-2">
                        Your one stop shop for exquisite interiors and illuminating designs
                    </div>
                    <h1 class="title">Transforming Spaces, Elevating Lifestyles</h1>
                    <div class="subtitle">
                        <p>Your dream space starts here.</p>
                        <p>Let's create something amazing!</p>
                    </div>
                    <div class="row buttons">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <a href="{% url 'about_us' %}" class="btn rounded-pill px-4 btn-yellow">Learn More</a>
                            </div>
                            <div class="col-lg-6 col-12">
                                <a href="{% url 'shop' %}" class="fw-bold text-black mt-2">View All Products</a>
                            </div>
                        </div>
                        <div class="row pt-5">
                            <div class="col-lg-5 col-12">
                                <img src="{% static 'images/others/rating.png' %}" class="img-fluid" style="width: 90%" />
                            </div>
                            <div class="col-lg-6 col-12">
                                <h6 class="fs-6 fw-bold lh-1 pt-1">4.9 Ratings+</h6>
                                <p class="fw-light lh-1">Trusted by 50k+ Customers</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 images">
                    <div class="row">
                        <div class="col-lg-6 col">
                            <img src="{% static 'images/slides/4.jpg' %}" class="img-fluid mb-3 rounded-bottom-5" />
                            <img src="{% static 'images/slides/2.jpg' %}" class="img-fluid mb-3 slider-image" />
                        </div>
                        <div class="col-lg-6 col">
                            <img src="{% static 'images/slides/3.jpg' %}" class="img-fluid mb-3 rounded-bottom-5" />
                            <img src="{% static 'images/slides/6.jpg' %}" class="img-fluid mb-3 rounded-bottom-5 slider-image" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section>
        {% include "website/components/about_us.html" %}
    </section>


    <section class="services">
        <div class="container py-4">
            <div class="row">
                <div class="col-lg-4 col-12">
                    <h1 class="fw-bold fs-4 text-yellow">Our Services</h1>
                    <p class="text-sm lh-lg">
                        Amazing is a luxury interior design company based in Karen Nairobi and Sinza Dar esalaam. We offer a full range of
                        interior and exterior design services to bring your vision to life! From stunning ceilings to elegant outdoor spaces.
                    </p>
                    <h6 class="text-yellow">They include:</h6>
                    <ul class="nav flex-column">
                        <li class="nav-item text-sm">
                           <i class="bi bi-star-fill text-yellow"></i> Gypsum Ceiling Designs
                        </li>
                        <li class="nav-item text-sm">
                            <i class="bi bi-star-fill text-yellow"></i> Custom Wall Painting & Finishing
                        </li>
                        <li class="nav-item text-sm">
                            <i class="bi bi-star-fill text-yellow"></i> Stylish Floor Tiling & Wooden Flooring
                        </li>
                        <li class="nav-item text-sm">
                            <i class="bi bi-star-fill text-yellow"></i> Tailored Kitchens & Wardrobes
                        </li>
                        <li class="nav-item text-sm">
                            <i class="bi bi-star-fill text-yellow"></i> Exquisite Wainscoting for an Elegant Touch
                        </li>
                        <li class="nav-item text-sm">
                            <i class="bi bi-star-fill text-yellow"></i> Professional Plumbing & Fittings
                        </li>
                        <li class="nav-item text-sm">
                            <i class="bi bi-star-fill text-yellow"></i> Expert Electrical Wiring & Lighting Solutions
                        </li>
                    </ul>
                </div>
                <div class="col-lg-8 col-12">
                    <img src="{% static 'images/others/services.png' %}" class="img-fluid" />
                </div>
            </div>
        </div>
    </section>


    <section class="bg-black">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-3 col-6">
                    <h1 class="fs-2 text-yellow fw-bold projects-count" data-from="0" data-to="2350" data-speed="15000" data-refresh-interval="5"></h1>
                    <p class="text-sm text-white">Projects Completed</p>
                </div>
                <div class="col-lg-3 col-6">
                    <h1 class="fs-2 text-yellow fw-bold years-count" data-from="0" data-to="15" data-speed="5000" data-refresh-interval="3"></h1>
                    <p class="text-sm text-white">Years of Experience</p>
                </div>
                <div class="col-lg-3 col-6">
                    <h1 class="fs-2 text-yellow fw-bold clients-count" data-from="0" data-to="460" data-speed="15000" data-refresh-interval="1"></h1>
                    <p class="text-sm text-white">Happy Clients</p>
                </div>
                <div class="col-lg-3 col-6">
                    <h1 class="fs-2 text-yellow fw-bold coffee-count" data-from="0" data-to="4350" data-speed="15000" data-refresh-interval="50"></h1>
                    <p class="text-sm text-white">Cups of Coffee</p>
                </div>
            </div>
        </div>
    </section>


    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-12">
                    <h4 class="text-yellow fs-5 lh-1">Our Products</h4>
                    <h1 class="fs-3 fw-bold lh-1">Explore Our Products</h1>
                </div>
            </div>
            <div class="row pt-3">
                {% for product in products %}
                    <div class="col-lg-3 col-6 mb-1">
                        <div class="card mb-4 border-0">
                            <a href="{% url 'product_details' product.product_id product.name %}">
                                <div class="product-icons">
                                    <button class="favorite-btn"><i class="bi bi-heart"></i></button>
                                    <br />
                                    <button class="favorite-btn mt-3"><i class="bi bi-eye"></i></button>
                                </div>
                                <img src="{{product.main_image.url}}" class="img-fluid rounded-3" />
                                <div class="card-body">
                                    <h1 class="fs-6 truncate text-dark">{{product.name}}</h1>
                                    <p class="text-danger fw-semibold">Ksh. {{product.price|intcomma}}</p>
                                    <!-- <button class="btn btn-sm btn-dark" id="add-to-cart" data-product="{{product.product_id}}">Add To
                                        Cart</button> -->
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="pt-1 pb-3 text-center">
                <a href="{% url 'shop' %}" class="btn btn-yellow rounded-0 px-4">View All Products</a>
            </div>
        </div>
    </section>


    <section class="py-5 flash-sale">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-12 counter-area p-4">
                    <h4 class="text-yellow fs-5 lh-1">Today's</h4>
                    
                    <h1 class="fs-2 text-black text-center pt-3">Flash Sales</h1>
                    <p class="text-center">Get 25% Off - Limited Time Offer!</p>

                    <div class="text-center pt-1">
                        <ul id="example">
                            <li><span class="days">00</span>
                                <p class="days_text">Days</p>
                            </li>
                            <li class="seperator">:</li>
                            <li><span class="hours">00</span>
                                <p class="hours_text">Hours</p>
                            </li>
                            <li class="seperator">:</li>
                            <li><span class="minutes">00</span>
                                <p class="minutes_text">Minutes</p>
                            </li>
                            <li class="seperator">:</li>
                            <li><span class="seconds">00</span>
                                <p class="seconds_text">Seconds</p>
                            </li>
                        </ul>

                        
                    </div>

                    <div class="text-center py-2">
                        <a href="{% url 'shop' %}" class="btn btn-yellow px-5 font-bold py-2 rounded-pill">Shop Now</a>
                    </div>

                </div>
                <div class="col-lg-7 col-12 flashes">
                    {% for product in deals %}
                        <div class="card border-0">
                            <div class="card-body">
                                <a href="{% url 'product_details' product.product_id product.name %}">
                                    <img src="{{product.main_image.url}}" class="img-fluid rounded-5" />
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>


    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-12">
                    <h4 class="text-yellow fs-5 lh-1">Today Deals</h4>
                    <h1 class="fs-3 fw-bold lh-1">Deals of the Day</h1>
                </div>
            </div>
        </div>
        <div class="ps-5 deals">
            {% for product in deals %}
                <div class="me-3 deal-card">
                    <div class="row gap-0">
                        <div class="col-lg-6">
                            <div class="deal-discount">
                                <button class="btn btn-yellow btn-sm">30% Off</button>
                            </div>
                            <img src="{{product.main_image.url}}" class="img-fluid p-1" style="z-index: 5;" />
                        </div>
                        <div class="col-lg-6 py-3">
                            <h6>{{product.name}}</h6>
                            <p class="text-danger">Ksh. {{product.price|intcomma}}</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium excepturi ab, modi perferendis
                                dolores recusandae fugiat quas.</p>
                            <a href="{% url 'product_details' product.product_id product.name %}" class="btn btn-yellow btn-sm rounded-5">Shop now</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>


    <section>
        {% include 'website/components/features.html' %}
    </section>


    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-12 text-center">
                    <h1 class="fs-2 fw-bold lh-1">Projects</h1>
                </div>
            </div>
        </div>
        <div>
            {% include 'website/components/projects.html' %}
        </div>
        
    </section>


    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-12 text-center">
                    <h1 class="fs-2 fw-bold lh-1">FAQs</h1>
                    <h4 class="fs-4 lh-1">Question? <span class="text-yellow">Look Here</span></h4>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col-lg-10 offset-lg-1 col-12">
                    {% include 'website/components/faqs.html' %}
                </div>
            </div>
        </div>
    </section>


    <section class="testimonials-section pb-3">
        <div class="container py-5 border-0">
            <h1 class="text-center fs-3 fw-bold pb-3">Testimonials</h1>
            <div class="row testimonials">
                <div class="col-lg-4">
                    <div class="card border-0 me-5">
                        <div class="card-body">
                            <h4 class="text-yellow ">John Smith</h4>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati ipsa dolorem ea, quidem eos, praesentium corrupti voluptates fugit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card border-0 me-5">
                        <div class="card-body">
                            <h4 class="text-yellow ">John Smith</h4>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati ipsa dolorem ea, quidem eos,
                                praesentium corrupti voluptates fugit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card border-0 me-5">
                        <div class="card-body">
                            <h4 class="text-yellow ">John Smith</h4>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati ipsa dolorem ea, quidem eos,
                                praesentium corrupti voluptates fugit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card border-0 me-5">
                        <div class="card-body">
                            <h4 class="text-yellow ">John Smith</h4>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati ipsa dolorem ea, quidem eos,
                                praesentium corrupti voluptates fugit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card border-0 me-5">
                        <div class="card-body">
                            <h4 class="text-yellow ">John Smith</h4>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati ipsa dolorem ea, quidem eos,
                                praesentium corrupti voluptates fugit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card border-0 me-5">
                        <div class="card-body">
                            <h4 class="text-yellow ">John Smith</h4>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati ipsa dolorem ea, quidem eos,
                                praesentium corrupti voluptates fugit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section>
        {% include "website/components/newsletter.html" %}
    </section>


    <section>
        {% include "website/components/quote.html" %}
    </section>

    {% include "website/components/footer.html" %}
{% endblock %}

