<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12 pt-5">
                <div class="card mission border-0 mb-3">
                    <div class="card-body">
                        <h1 class="fs-5 text-center fw-bold">Mission</h1>
                        <p class="text-sm">
                            To redefine interior spaces by merging creativity with functionality, delivering innovative and sustainable designs that
                            enhance lifestyles and businesses. We strive to provide exceptional, customer-centric solutions by integrating modern
                            aesthetics, cultural influences, and cutting-edge technology, ensuring that every project embodies uniqueness and
                            excellence.
                        </p>
                    </div>
                </div>

                <div class="card vision border-0 mb-3">
                    <div class="card-body">
                        <h1 class="fs-5 text-center fw-bold">Vision</h1>
                        <p class="text-sm">
                            To become a globally recognized leader in architecture and interior design, setting new benchmarks for creativity,
                            sustainability, and customer experience. We envision a world where every space we design inspires, transforms, and
                            leaves a lasting impact—reshaping the way people live, work, and experience their surroundings.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="card border-0 bg-black text-white pt-3 about-card">
                    <div class="card-body">
                        <h1 class="fs-4 text-center fw-bold">About Us</h1>
                        <p class="text-sm text-white pt-2">
                            At Amazing Interiors, we believe that exceptional design is more than aesthetics—it’s an experience. As a premier
                            architecture and interior design firm, we specialize in transforming residential, commercial, corporate, luxury, and
                            hospitality spaces into stunning, functional environments that leave lasting impressions.
                        </p>
                        <p class="text-sm text-white">
                            Beyond design, we offer a curated selection of high-quality interior products, ensuring that every detail of a space
                            reflects our commitment to creativity, sustainability, and cultural inspiration. Our approach blends innovation,
                            functionality, and artistic expression, making every project a unique masterpiece tailored to our clients' vision.
                        </p>
                        <p class="text-sm text-white">
                            With a global outlook and a passion for excellence, Amazing Interiors is redefining the industry by providing
                            personalized consultations, virtual design services, and exclusive memberships, ensuring a seamless and world-class
                            experience.

                        </p>

                        <div class="text-center py-4">
                            <a href="" class="btn btn-yellow text-sm px-4 rounded-pill">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12 pt-4">
                <div class="card border-0 bg-yellow core-values">
                    <div class="card-body">
                        <h1 class="fs-6 text-center fw-bold">Core Values</h1>
                        <div class="">
                            <h6 class="fw-bold text-sm">Creativity & Innovation</h6>
                            <p class="text-sm">We push boundaries to craft unique, trend-setting designs that inspire and elevate spaces.</p>
                        </div>
                        <div class="">
                            <h6 class="fw-bold text-sm">Integrity & Excellence</h6>
                            <p class="text-sm">We uphold transparency, quality, and ethical practices in every project.</p>
                        </div>
                        <div class="">
                            <h6 class="fw-bold text-sm">Sustainability</h6>
                            <p class="text-sm">We commit to eco-friendly solutions, ensuring responsible and sustainable design choices.</p>
                        </div>
                        <div class="">
                            <h6 class="fw-bold text-sm">Customer-First Approach</h6>
                            <p class="text-sm">We prioritize our clients’ vision, delivering personalized and seamless experiences.</p>
                        </div>
                        <div class="">
                            <h6 class="fw-bold text-sm">Cultural Inspiration</h6>
                            <p class="text-sm">We celebrate diversity, infusing culturally inspired elements into our designs.</p>
                        </div>
                        <div class="">
                            <h6 class="fw-bold text-sm">Collaboration & Growth</h6>
                            <p class="text-sm">We foster a positive work culture, valuing teamwork, employee well-being, and continuous learning.</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>