{% load static %}
<section class="deals">
    <div class="me-3 deal-card">
        <div class="row gap-0">
            <div class="col-lg-6">
                <img src="{% static 'images/projects/5.jpg' %}" class="img-fluid p-1" />
            </div>
            <div class="col-lg-6">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium excepturi ab, modi perferendis dolores recusandae fugiat quas.</p>
            </div>
        </div>
    </div>
    <div class="me-3 deal-card">
        <div class="row gap-0">
            <div class="col-lg-6">
                <img src="{% static 'images/projects/5.jpg' %}" class="img-fluid p-1" />
            </div>
            <div class="col-lg-6">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium excepturi ab, modi perferendis
                    dolores recusandae fugiat quas.</p>
            </div>
        </div>
    </div>
    <div class="me-3 deal-card">
        <div class="row gap-0">
            <div class="col-lg-6">
                <img src="{% static 'images/projects/5.jpg' %}" class="img-fluid p-1" />
            </div>
            <div class="col-lg-6">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium excepturi ab, modi perferendis
                    dolores recusandae fugiat quas.</p>
            </div>
        </div>
    </div>
</section>