{% load static %}
<div class="container py-4">
    <div class="row">
        <div class="col-lg-4 col-12">
            <div class="card border-0">
                <div class="card-body text-center">
                    <img src="{% static 'images/icons/delivery.png' %}" class="img-fluid feature-icons" />
                    <h6 class="fw-bold pt-4">FREE AND FAST DELIVERY</h6>
                    <p>Free delivery for all orders over $140</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-12">
            <div class="card border-0">
                <div class="card-body text-center">
                    <img src="{% static 'images/icons/customer-care.png' %}" class="img-fluid feature-icons" />
                    <h6 class="fw-bold pt-4">24/7 CUSTOMER SERVICE</h6>
                    <p>Friendly 24/7 customer support</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-12">
            <div class="card border-0">
                <div class="card-body text-center">
                    <img src="{% static 'images/icons/money-back.png' %}" class="img-fluid feature-icons" />
                    <h6 class="fw-bold pt-4">MONEY BACK GUARANTEE</h6>
                    <p>We return money within 30 days</p>
                </div>
            </div>
        </div>
    </div>
</div>