{% load static %}
<section>
    <div class="projects1 mb-3">
        <div class="me-4">
            <img src="{% static 'images/projects/1.jpg' %}" class="img-fluid project-image" />
        </div>
        <div class="me-4">
            <img src="{% static 'images/projects/2.jpg' %}" class="img-fluid project-image" />
        </div>
        <div class="me-4">
            <img src="{% static 'images/projects/3.jpg' %}" class="img-fluid project-image" />
        </div>
        <div class="me-4">
            <img src="{% static 'images/projects/4.jpg' %}" class="img-fluid project-image" />
        </div>
    </div>
    
    <div class="projects2">
        <div class="me-4">
            <img src="{% static 'images/projects/1.jpg' %}" class="img-fluid project-image" />
        </div>
        <div class="me-4">
            <img src="{% static 'images/projects/2.jpg' %}" class="img-fluid project-image" />
        </div>
        <div class="me-4">
            <img src="{% static 'images/projects/3.jpg' %}" class="img-fluid project-image" />
        </div>
        <div class="me-4">
            <img src="{% static 'images/projects/4.jpg' %}" class="img-fluid project-image" />
        </div>
    </div>
</section>